/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap'); */

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    color: #333;
}


.top-container {
    display: flex;
    flex: 2;
    margin-bottom: 15px;
}

.top-left,
.top-right {
    flex: 1;
    padding: 20px;
}

.top-left {
    /* background-image: url('https://img.freepik.com/fotos-premium/tienda-mercado-productos-mercado-mercancias-bodega-supermercado-escaparate-compras-dispensario_450634-1483.jpg?w=740'); */
    background-color: black;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}


.logo h1 {
    font-size: 1.5rem;
    font-family: 'Playwrite NL' ;
}


.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6f1ff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.text-content {
    max-width: 900px;
    margin-bottom: 30px;
}

.text-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.text-content h2:hover {
    color: #007bff;
}

.text-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
}

@media (max-width: 768px) {
    .text-content h2 {
        font-size: 2rem;
    }

    .text-content p {
        font-size: 1rem;
    }
}

/* parte del buscador */
.container-input {
    /* border: solid 2px black; */
    position: relative;
    margin-bottom: 25px;
    margin-left: 29px;

}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
    padding: 17px;
    max-width: 100%;
    margin: 0 auto;
}

.card {
    width: 300px;
    height: 380px;
    background: linear-gradient(145deg, #ffffff, #f5f5f5);
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.08), -20px -20px 40px rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}


.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}

.img-container {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 1);
}

.info {
    text-align: center;
    margin-bottom: 30px;
}

.info h3 {
    font-size: 1.3em;
    font-weight: bold;
    background: linear-gradient(to right, #00c2ff, #0056ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.info p {
    font-size: 1em;
    color: #666666;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.button:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.button::before {
    position: absolute;
    top: -20px;
    content: "Eliminar";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}


/* botones alerta  */

.custom-alert-buttons {
    margin-top: 20px;
}

.custom-confirm-yes,
.custom-confirm-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-confirm-yes {
    background-color: hwb(145 25% 30%);
    color: #fff;
}

.custom-confirm-cancel {
    background-color: hwb(6 21% 16%);
    color: #fff;
    margin-left: 10px;
}
